.routeLeg {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .routeStep {
    display: flex;
    flex-direction: row;
    .icon {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }
  }
}
