.wrapper {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  .map {
    flex: 1;
  }
  .side {
    width: 300px;
  }
}

.input {
  padding: 8px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.deleteButton {
  background-color: #dc3545;
}
